<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.gridwirepro">
    <!-- camera and storage -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/grid"
        android:roundIcon="@drawable/grid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:label="GRIDWIRE_PRO">
        <activity android:name=".billandpay"
            android:label="GRIDWIRE_PRO"></activity>
        <activity android:name=".text_recognition"></activity> <!-- add in application tag -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme"
            android:label="GRIDWIRE_PRO"/> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".front_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".complaint" />
        <activity android:name=".consumer" />
        <activity android:name=".emp" />
        <activity android:name=".ocr_page" />
        <activity
            android:name=".admin_Activity"
            android:label="@string/title_activity_admin_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".admin_login" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>